.eventDetailContainer {

  color: #2a2a2acb;
  background: #fff;
  padding: 2.5rem 3rem;
  border-radius: 2rem;
  line-height: 1.7;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.sectionOne{
  background-color: white;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
 
}

.eventHeader {
  display: flex;

}

.eventImage {
  width: 220px;
  border-radius: 2rem;
  box-shadow: 0 10px 25px rgba(106, 17, 203, 0.3);
}

.eventName {
  font-size: 1.8rem;
  font-weight: bold;
  color: #4b0082;
  text-align: center;
}

.eventEmoji {
  font-size: 3rem;
  text-align: center;
}

.eventInfo {
  background-color: white;
  text-align: center;
  border-radius: 2rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  font-size: 1rem;
  height: auto;
  padding: 2rem;
}

.eventInfo p {
  margin: 0.6rem;
  

}

.eventInfo strong {
  color: #3a3a7a;
  text-transform: uppercase;
}

.eventDescription {
  position: relative;
  border-left: 10px solid grey;
  margin-bottom: 3rem;
  background: #fff;
  padding: 1.5rem 2rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
}

.eventDescription h3, h2 {
  margin-bottom: 1rem;
  
}

.eventDescription p {
  line-height: 1.8;
  color: #444;
  font-size: 1rem;
}


.eventHeader {
  display: flex;
  align-items: flex-start; 
  gap: 2rem; 
}

.eventImage {
  width: 220px;
  border-radius: 2rem;
  box-shadow: 0 10px 25px rgba(106, 17, 203, 0.3);

}

.eventText {
  flex: 1; 
  text-align: right; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



.eventExtra {
  background: #ffe4e1;
  box-shadow: 0 15px 30px rgba(255, 192, 203, 0.35);
  margin-bottom: 3rem;
  font-size: 1rem;
  padding: 2rem 2.5rem;
  border-radius: 2rem;
  color: #7a2f4d;
  text-align: center;
  list-style: none;
}

.eventExtra h4 {
  margin-bottom: 1rem;
  font-weight: bold;
  color: #c72c41;
  text-transform: uppercase;
}

.eventExtra ul {
  padding-left: 2rem;
  list-style: none;
}

.eventExtra ul li {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 1.6rem;
  font-weight: 600;
}




.eventReviews {
  margin-bottom: 3rem;
  
}

.eventReviews h4 {
  color: #296353;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.eventReviews ul {
  list-style: none;
  display: flex;
  gap: 1.6rem;
}



.eventReviews ul li {
  background: #def7e5;
  border-radius: 2rem 1rem 2rem 1rem;
  padding: 1.5rem 2rem 2rem 2rem;
  box-shadow: 0 8px 15px rgba(45, 125, 65, 0.3);
  color: #235230;
  position: relative;
  margin-top: 5rem;
  max-width: auto;
  
}

.eventReviews ul li img {
  position: absolute;
  top: -80px;
  left: 20px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  width: 100px;
  height: 100px;
  box-shadow: 0 5px 10px rgba(45, 125, 65, 0.6);
  border: 3px solid #def7e5;
}

.eventSafety {
  background-color: rgb(255, 252, 197);
  border-radius: 2rem;
  padding: 2rem 2.5rem;
  margin-bottom: 3rem;
  color: #735f00;
  line-height: 1.5;
  
}

.eventSafety h3 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.eventFAQ {
  background: #f0f8ff;

  color: #27496d;
  padding: 2rem;
  margin-bottom: 3rem;
  border-radius: 1.2rem;
  border: 3px dotted #4a90e2;
  font-size: 1rem;
}

.eventFAQ h3 {
  font-size: 1.6rem;
  color: #4a90e2;
  margin-bottom: 1.5rem;
}

.eventFAQ p {
  margin-bottom: 1.3rem;
  line-height: 1.5;
}


.eventSafetyFaqContainer {
  display: flex;
  flex-wrap: wrap; 
}



.eventHeader {
  display: flex;
  align-items: flex-start; 
  align-items: flex-start;
  gap: 2rem; 
}

.eventImage {
  border-radius: 2rem;
  box-shadow: 0 10px 25px rgba(106, 17, 203, 0.3);
    margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 50%;
}



.longDescription {
  font-size: 1rem;
  color: #444;
    max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}



.eventSafetyFaqContainer {
  display: flex;
  gap: 2rem;       
  flex-wrap: wrap;  
  justify-content: center;
}

.eventSafety, .eventFAQ {
  flex: 1 1;  
    
}







