.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

body {
  background-color: #696969;
  margin: 0;
  font-family: "Roboto", "Lucida Sans", Verdana, sans-serif;
}

main {
  background-color: rgba(255, 255, 255, 0.577);
}


body.darkMode { 
  background-color: #333333;
  color: white;
}

body.darkMode main {
  background-color: #333333;
  color: white;
}

.darkMode .eventTicket {
  background-color: #292929;
  color: white;
  border: grey 1px solid;
  border-left: 6px purple solid;
}

.darkMode h2 {
  color: rgb(178, 77, 236);
}